body{
    background-color: black;
    color: white;
}
header{
    background-color: rgb(107, 106, 106);
    width: 70;
}
h1{
     background-color: rgb(107, 106, 106);
     width: 540;
}
.t{
 background-color: rgb(107, 106, 106);
 width: 130;
}